<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{view.index.title}">Welcome!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <!-- /* Handle the flash message */-->
    <th:block th:if="${message != null}">
        <!-- /* The message code is returned from the @Controller */ -->
        <div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}(${#authentication.name})})">&nbsp;</div>
    </th:block>
    <p>
        Welcome to the Spring MVC Quickstart application!
    </p>
    <hr />
    <form method="post" action="#" th:action="@{/queryRates}" th:object="${currencyRequest}" >
        <div class="form-group">
            <label for="data">Query rates: </label>
            <select class="form-control" th:field="*{base}">
				<option th:each="currency : ${currencyList}" th:value="${currency}" th:text="${currency}" th:selected="${ currency==currencyRequest.base } ">BaseOptions</option>
			</select>
            <select class="form-control" th:field="*{target}">
				<option th:each="currency : ${currencyList}" th:value="${currency}" th:text="${currency}" th:selected="${ currency==currencyRequest.target } ">TargetOptions</option>
			</select>
            <input id="date" type="text" class="form-control" placeholder="USD" th:field="*{date}" />
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
    <hr />
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Last requests</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="lastRequest : ${lastRequests}">
                <td th:text="${lastRequest}">lastRequest</td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>